<div class="justify-content-center">
  <div class="row">
    <div class="col-12">
      <div class="card shadow mb-5 bg-white rounded" style="vertical-align: middle">
        <div class="card-header align-middle">
          <h3 style="display: inline-block">
            Отчёты</h3>
          <div class="btn-group float-right  rounded">
            <button type="button"
                    class="btn btn-sm shadow btn-secondary" (click)="previousState()">
              Назад
            </button>
          </div>
        </div>
        <div class="card-header align-middle">
          <form name="filtrForm" class="form" role="form"
                [formGroup]="filterForm">
            <div class="row" style="margin-right: 31px!important; margin-inline-end: -20px!important;">
              <div class="form-group form-group col-md-auto"
                   style="margin-inline-end: -20px!important;">
                <label class="form-control-label"
                       for="field_id">Приложение</label>
                <dd>
                  <select class="form-control" id="field_id" name="field_id"
                          formControlName="id" (change)="changeApp()">
                    <option *ngIf="!filterForm.get('id').value" [ngValue]="null"
                            selected></option>
                    <option *ngIf="filterForm.get('id').value" [ngValue]="null"></option>
                    <option [ngValue]="app.id"
                            *ngFor="let app of apps; trackBy: trackById">{{app.name}}</option>
                  </select>
                </dd>
                <div
                  *ngIf="!filterForm.get('id')!.value">
                  <small class="form-text text-danger">
                    Необходимо выбрать приложение
                  </small>
                </div>
              </div>
              <div class="col-md-auto">
                <div class="form-group form-group col-md-auto">
                  <label class="form-control-label"
                         for="field_dateStart">Дата и время с</label>
                  <dd>
                    <input style="width: auto" id="field_dateStart" type="datetime-local"
                           class="form-control"
                           name="startTime"
                           formControlName="dateStart" readonly placeholder="YYYY-MM-DD HH:mm:ss" (change)="changeStatDateTime()"/>
                    <div
                      *ngIf="filterForm.get('dateStart')!.invalid && (filterForm.get('dateStart')!.dirty || filterForm.get('dateStart')!.touched)">
                      <small class="form-text text-danger"
                             *ngIf="filterForm.get('dateStart')?.errors?.required">
                        Необходимо указать дату и время начала звонка
                      </small>
                    </div>
                  </dd>
                </div>

              </div>
              <div class="col-md-auto">
                <div class="form-group form-group col-md-auto">
                  <label class="form-control-label"
                         for="field_dateEnd">Дата и время по</label>
                  <dd>
                    <input style="width: auto" id="field_dateEnd" readonly type="datetime-local"
                           class="form-control"
                           name="dateEnd"
                           formControlName="dateEnd" placeholder="YYYY-MM-DD HH:mm:ss" />
                    <div
                      *ngIf="filterForm.get('dateEnd')!.invalid && (filterForm.get('dateEnd')!.dirty || filterForm.get('dateEnd')!.touched)">
                      <small class="form-text text-danger"
                             *ngIf="filterForm.get('dateEnd')?.errors?.required">
                        Необходимо указать дату и время окончания звонка
                      </small>
                    </div>
                  </dd>
                </div>
              </div>


              <div class="form-group col-md-auto right">
                <label class="form-control-label"><br></label>
                <dd>
                  <button type="button" [disabled]="filterForm.invalid"
                          class="btn btn-sm shadow btn-primary" style="border-right-color: white"
                          (click)="loadReports()">
                   Собрать онлайн отчёт
                  </button>
                  <button *ngIf="isSpinner2 else spinner2" type="submit" [disabled]="filterForm.invalid"
                          class="btn btn-sm shadow btn-primary" style="border-right-color: white"
                          (click)="downLoadReports()">
                   Скачать
                  </button>
                </dd>
              </div>
            </div>
          </form>
          <div *ngIf="reportList && reportList.length > 0 && isSpinner">
            <span class="shadow badge badge-secondary">{{'Отчёт сформирован '}}</span>
          </div>
        </div>
        <div class="card-body">
          <div *ngIf="reportList && reportList.length > 0 && isSpinner else !isSpinner?  spinner: notFound">

            <app-online-report [reportList]="reportList" [filter]="getFilter()" [dateStart]="filterForm.get(['dateStart']).value"
                               [dateEnd]="filterForm.get(['dateEnd']).value"></app-online-report>
<!--            <div class="divtable">-->
<!--              <table class="table table-hover shadow">-->
<!--                <thead>-->
<!--                <tr>-->
<!--                  <th style="text-align: center;">Приложение</th>-->
<!--                  <th style="text-align: center;">Номер</th>-->
<!--                  <th style="text-align: center;">Вызов</th>-->

<!--                  <th style="text-align: center;">Тематика</th>-->
<!--                  <th style="text-align: center;">SP_004_V3(сек.)</th>-->
<!--                  <th style="text-align: center;">Skill</th>-->
<!--                  <th style="text-align: center;">Способ завершения</th>-->
<!--                  <th style="text-align: center;">Озвученное сообщение</th>-->
<!--                  <th style="text-align: center;">Длительность</th>-->

<!--                  <th style="text-align: center;" class="audioColumn">Аудио</th>-->
<!--                </tr>-->
<!--                </thead>-->
<!--                <tbody *ngFor="let fullAudio of fullAudios">-->
<!--                <tr>-->
<!--                  <td style="text-align: center;">{{fullAudio.appName}}</td>-->
<!--                  <td style="text-align: center;">{{fullAudio.phone}}</td>-->
<!--                  <td style="text-align: center;">{{fullAudio.connectDate}}</td>-->


<!--                  <td style="text-align: center;">{{fullAudio.theme}}</td>-->
<!--                  <td style="text-align: center;">{{fullAudio.sp_004_v3}}</td>-->
<!--                  <td style="text-align: center;">{{fullAudio.skill}}</td>-->
<!--                  <td style="text-align: center;">{{fullAudio.disconectAction}}</td>-->
<!--                  <td style="text-align: center;">{{fullAudio.soundMessage|soundMessage}}</td>-->
<!--                  <td style="text-align: center;">{{fullAudio.timeDiff}}</td>-->



<!--                  <td style="width: 200px!important;">-->
<!--                    <div  id="{{fullAudio.id}}">-->
<!--                      <audio id="{{'field-audio' + fullAudio.id}}" controls preload="none">-->
<!--                        <source-->
<!--                          [src]="url + '/audioPreview?pathFile='  + fullAudio.recordFile+'&Authorization=Bearer ' + authService.getCurrentToken()"-->
<!--                          type="audio/wav"/>-->
<!--                      </audio>-->
<!--                    </div>-->

<!--                  </td>-->
<!--                </tr>-->
<!--                </tbody>-->
<!--              </table>-->
<!--            </div>-->

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #spinner>
  <div class="container">
    <div class="📦"></div>
    <div class="📦"></div>
    <div class="📦"></div>
    <div class="📦"></div>
    <div class="📦"></div>
  </div>
</ng-template>
<ng-template #notFound>
  <span>{{errorMessage}}</span>
</ng-template>
<ng-template #spinner2>
  <button  class="btn btn-sm shadow btn-primary" style="border-right-color: white" disabled>
    <span class="spinner-border spinner-border-sm"></span>
    Формируем отчёт..
  </button>
</ng-template>
