<div *ngIf="errorMessage!=null && errorMessage!=undefined" class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Внимание! </strong> {{errorMessage}}
  <button type="button" (click)="clearMessage()" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
