table {
  //table-layout: fixed; /* Фиксированная ширина ячеек */
  width: 100%; /* Ширина таблицы */
}
//.audioColumn {
//  width: 200px;
//}
td {
  vertical-align: middle;
}
th {
  vertical-align: middle;
}
.form-control {
  width: 93%!important;
}
.divtable{
  overflow: scroll;
}
