<div class="justify-content-center">
  <div class="row">
    <div class="col-12">
      <div class="card shadow mb-5 bg-white rounded" style="vertical-align: middle">
        <div class="card-header align-middle">
          <h3 style="display: inline-block">
            IVR</h3>
          <div class="btn-group float-right  rounded">
            <button type="button"
                    class="btn btn-sm shadow btn-secondary" (click)="previousState()">
              Назад
            </button>
          </div>
        </div>
        <div class="card-header align-middle">
          <form name="filtrForm" class="form" role="form"
                [formGroup]="filterForm">
            <div class="row" style="margin-right: 31px!important; margin-inline-end: -20px!important;">
              <div class="form-group form-group col-md-auto"
                   style="margin-inline-end: -20px!important;">
                <label class="form-control-label"
                       for="field_id">Приложение</label>
                <dd>
                  <select class="form-control" id="field_id" name="field_id"
                          formControlName="id" (change)="changeApp()">
                    <option *ngIf="!filterForm.get('id').value" [ngValue]="null"
                            selected></option>
                    <option *ngIf="filterForm.get('id').value" [ngValue]="null"></option>
                    <option [ngValue]="app.id"
                            *ngFor="let app of apps; trackBy: trackById">{{app.name}}</option>
                  </select>
                </dd>
                <div
                  *ngIf="!filterForm.get('id')!.value">
                  <small class="form-text text-danger">
                    Необходимо выбрать приложение
                  </small>
                </div>
              </div>
              <div class="col-md-auto">
                <label class="form-control-label"
                       for="field_phone">Телефон</label>
                <dd>
                  <input type="text" class="form-control" formControlName="phone" placeholder="(000)000 00 00"  [textMask]="{mask: phoneMask}" (change)="changeCount()" id="field_phone"/>
                  <div
                    *ngIf="filterForm.get('phone')!.invalid && (filterForm.get('phone')!.dirty || filterForm.get('phone')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="filterForm.get('phone')?.errors?.required">
                      Необходимо указать телефон
                    </small>
                  </div>
                </dd>
              </div>

              <div class="col-md-auto">
                <div class="form-group form-group col-md-auto">
                  <label class="form-control-label"
                         for="field_dateStart">Дата и время с</label>
                  <dd>
                    <input style="width: auto" id="field_dateStart" type="datetime-local"
                           class="form-control"
                           name="startTime"
                           formControlName="dateStart" placeholder="YYYY-MM-DD HH:mm:ss" (change)="this.changeCount()"/>
                    <div
                      *ngIf="filterForm.get('dateStart')!.invalid && (filterForm.get('dateStart')!.dirty || filterForm.get('dateStart')!.touched)">
                      <small class="form-text text-danger"
                             *ngIf="filterForm.get('dateStart')?.errors?.required">
                        Необходимо указать дату и время начала звонка
                      </small>
                    </div>
                  </dd>
                </div>

              </div>
              <div class="col-md-auto">
                <div class="form-group form-group col-md-auto">
                  <label class="form-control-label"
                         for="field_dateEnd">Дата и время по</label>
                  <dd>
                    <input style="width: auto" id="field_dateEnd" type="datetime-local"
                           class="form-control"
                           name="dateEnd"
                           formControlName="dateEnd" placeholder="YYYY-MM-DD HH:mm:ss" (change)="changeCount()"/>
                    <div
                      *ngIf="filterForm.get('dateEnd')!.invalid && (filterForm.get('dateEnd')!.dirty || filterForm.get('dateEnd')!.touched)">
                      <small class="form-text text-danger"
                             *ngIf="filterForm.get('dateEnd')?.errors?.required">
                        Необходимо указать дату и время окончания звонка
                      </small>
                    </div>
                  </dd>
                </div>
              </div>


              <div class="form-group form-group col-md-auto"
                   style="margin-inline-end: -20px!important;">
                <label class="form-control-label"
                       for="field_theme">Тематика</label>
                <dd>
                  <select class="form-control" id="field_theme" name="field_theme"
                          formControlName="theme" (change)="changeCount()">
                    <option *ngIf="!filterForm.get('theme').value" [ngValue]="null"
                            selected></option>
                    <option *ngIf="filterForm.get('theme').value" [ngValue]="null"></option>
                    <option [ngValue]="theme.value"
                            *ngFor="let theme of themes; trackBy: trackById">{{theme.name}}</option>
                  </select>
                </dd>
              </div>
              <div class="form-group form-group col-md-auto"
                   style="margin-inline-end: -20px!important;">
                <label class="form-control-label"
                       for="field_skill">Skill-группа</label>
                <dd>
                  <select class="form-control" id="field_skill" name="field_skill"
                          formControlName="skill" (change)="changeCount()">
                    <option *ngIf="!filterForm.get('skill').value" [ngValue]="null"
                            selected></option>
                    <option *ngIf="filterForm.get('skill').value" [ngValue]="null"></option>
                    <option [ngValue]="skill.value"
                            *ngFor="let skill of skills; trackBy: trackById">{{skill.name}}</option>
                  </select>
                </dd>
              </div>
              <div class="form-group form-group col-md-auto"
                   style="margin-inline-end: -20px!important;">
                <label class="form-control-label"
                       for="field_soundMessage">Озвучено сообщение</label>
                <dd>
                  <select class="form-control" id="field_soundMessage" name="field_soundMessage"
                          formControlName="soundMessage" (change)="changeCount()">
                    <option *ngIf="!filterForm.get('soundMessage').value" [ngValue]="null"
                            selected></option>
                    <option *ngIf="filterForm.get('soundMessage').value" [ngValue]="null"></option>
                    <option [ngValue]="soundMessage.value"
                            *ngFor="let soundMessage of soundMessages; trackBy: trackById">{{soundMessage.name}}</option>
                  </select>
                </dd>
              </div>


              <div class="form-group col-md-auto right">
                <label class="form-control-label"><br></label>
                <dd>
                  <button type="button" [disabled]="filterForm.invalid"
                          class="btn btn-sm shadow btn-primary" style="border-right-color: white"
                          (click)="findFullAudio(1)">
                    Применить фильтр
                  </button>
                  <button type="button"
                          class="btn btn-sm shadow btn-secondary" style="border-left-color: white"
                          (click)="clearFilter()">
                    Очистить фильтр
                  </button>
                </dd>
              </div>
            </div>
          </form>
          <div *ngIf="fullAudios && fullAudios.length > 0 && isSpinner">
            <span class="shadow badge badge-secondary">{{'Всего найденных по фильтру: ' + totalItems}}</span>
          </div>
        </div>
        <div class="card-body">
          <div *ngIf="fullAudios && fullAudios.length > 0 && isSpinner else !isSpinner?  spinner: notFound">
            <div class="divtable">
            <table class="table table-hover shadow">
              <thead>
              <tr>
                <th style="text-align: center;">Приложение</th>
                <th style="text-align: center;">Номер</th>
                <th style="text-align: center;">Вызов</th>

                <th style="text-align: center;">Тематика</th>
                <th style="text-align: center;">SP_004_V3(сек.)</th>
                <th style="text-align: center;">Skill</th>
                <th style="text-align: center;">Способ завершения</th>
                <th style="text-align: center;">Озвученное сообщение</th>
                <th style="text-align: center;">Длительность</th>

                <th style="text-align: center;" class="audioColumn">Аудио</th>
              </tr>
              </thead>
              <tbody>
              <tr  *ngFor="let fullAudio of fullAudios">
                <td style="text-align: center;">{{fullAudio.appName}}</td>
                <td style="text-align: center;">{{fullAudio.phone}}</td>
                <td style="text-align: center;">{{fullAudio.connectDate}}</td>


                <td style="text-align: center;">{{fullAudio.theme}}</td>
                <td style="text-align: center;">{{fullAudio.sp_004_v3}}</td>
                <td style="text-align: center;">{{fullAudio.skill}}</td>
                <td style="text-align: center;">{{fullAudio.disconectAction}}</td>
                <td style="text-align: center;">{{fullAudio.soundMessage|soundMessage}}</td>
                <td style="text-align: center;">{{fullAudio.timeDiff}}</td>



                <td style="width: 200px!important;">
                  <div  id="{{fullAudio.id}}">
                    <audio id="{{'field-audio' + fullAudio.id}}" controls preload="none">
                      <source
                        [src]="url + '/audioPreview?pathFile='  + fullAudio.recordFile+'&Authorization=Bearer ' + authService.getCurrentToken()"
                        type="audio/wav"/>
                    </audio>
                  </div>

                </td>
              </tr>
              </tbody>
            </table>
            </div>
            <div class="row justify-content-center">
              <span>{{(page - 1) * itemsPerPage + 1 + ' - ' + itemsPerPage * page}}</span>
            </div>
            <div class="row justify-content-center">
              <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
                              [rotate]="true" [boundaryLinks]="true" (pageChange)="findFullAudio(page)"></ngb-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #spinner>
  <div class="container">
    <div class="📦"></div>
    <div class="📦"></div>
    <div class="📦"></div>
    <div class="📦"></div>
    <div class="📦"></div>
  </div>
</ng-template>
<ng-template #notFound>
  <span>{{errorMessage}}</span>
</ng-template>
