<div class="modal-header">

  <h2 *ngIf="!editForm.get('id')!.value" id="jhi-app-heading"
  >Добавить приложение</h2>
  <h2 *ngIf="editForm.get('id')!.value">Редактировать приложение</h2>
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
          (click)="clear()">&times;
  </button>
</div>
<div class="modal-body">
  <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
    <div>

      <div class="form-group" [hidden]="!editForm.get('id')!.value">
        <label for="id">ID</label>
        <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly/>
      </div>

      <div class="form-group">
        <label class="form-control-label" for="field_name">Наименование приложения</label>
        <input type="text" class="form-control" name="name" id="field_name"
               formControlName="name"/>
        <div
          *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
          <small class="form-text text-danger"
                 *ngIf="editForm.get('name')?.errors?.required"
          >Поле обязательное к заполнению.
          </small>
        </div>
      </div>
      <div class="form-group">
        <label class="form-control-label"
               for="field_appType">Тип приложения</label>
        <select class="form-control" name="appType" formControlName="appType" id="field_appType">
          <option  *ngFor="let appType of appTypeList" [value]="appType">{{appType|appTypeName}}</option>
        </select>
        <div
          *ngIf="editForm.get('appType')!.invalid && (editForm.get('appType')!.dirty || editForm.get('appType')!.touched)">
          <small class="form-text text-danger"
                 *ngIf="editForm.get('appType')?.errors?.required" >
            Поле обязательное к заполнению.
          </small>
        </div>
      </div>

      <!--      <div class="form-group">-->
      <!--        <label class="form-control-label" for="field_appId">App id (из  app_statistic)</label>-->
      <!--        <input type="number" class="form-control" name="appId" id="field_appId"-->
      <!--               formControlName="appId"/>-->
      <!--        <div-->
      <!--          *ngIf="editForm.get('appId')!.invalid && (editForm.get('appId')!.dirty || editForm.get('appId')!.touched)">-->
      <!--          <small class="form-text text-danger"-->
      <!--                 *ngIf="editForm.get('appId')?.errors?.required"-->
      <!--          >-->
      <!--                        Поле обязательное к заполнению.-->
      <!--          </small>-->
      <!--        </div>-->
      <!--      </div>-->

      <div class="form-group">
        <label class="form-control-label" for="field_ip">IP адрес БД</label>
        <input type="text" class="form-control" name="ip" id="field_ip"
               formControlName="ip"/>
        <div
          *ngIf="editForm.get('ip')!.invalid && (editForm.get('ip')!.dirty || editForm.get('ip')!.touched)">
          <small class="form-text text-danger"
                 *ngIf="editForm.get('ip')?.errors?.required"
          >
                        Поле обязательное к заполнению.
          </small>
        </div>
      </div>

      <div class="form-group">
        <label class="form-control-label" for="field_dataBase">Имя схемы (база данных)</label>
        <input type="text" class="form-control" name="dataBase" id="field_dataBase"
               formControlName="dataBase"/>
        <div
          *ngIf="editForm.get('dataBase')!.invalid && (editForm.get('dataBase')!.dirty || editForm.get('dataBase')!.touched)">
          <small class="form-text text-danger"
                 *ngIf="editForm.get('dataBase')?.errors?.required"
          >
                        Поле обязательное к заполнению.
          </small>
        </div>
      </div>


      <div class="form-group">
        <label class="form-control-label" for="field_login">Логин для подключения к бд</label>
        <input type="text" class="form-control" name="login" id="field_login"
               formControlName="login"/>
        <div
          *ngIf="editForm.get('login')!.invalid && (editForm.get('login')!.dirty || editForm.get('login')!.touched)">
          <small class="form-text text-danger"
                 *ngIf="editForm.get('login')?.errors?.required"
          >
                        Поле обязательное к заполнению.
          </small>
        </div>
      </div>
      <div class="form-group">
        <label class="form-control-label" for="field_password">Пароль для подключения к бд</label>
        <input type="text" class="form-control" name="password" id="field_password"
               formControlName="password"/>
        <div
          *ngIf="editForm.get('password')!.invalid && (editForm.get('password')!.dirty || editForm.get('password')!.touched)">
          <small class="form-text text-danger"
                 *ngIf="editForm.get('password')?.errors?.required"
          >
                        Поле обязательное к заполнению.
          </small>
        </div>
      </div>


      <div class="form-group">
        <label class="form-control-label"
               for="field_isEnabled">Вкл/Откл</label>
        <select class="form-control" id="field_isEnabled" name="isEnabled"
                formControlName="isEnabled" (change)="setEnabled()">
          <option [ngValue]="true">Включено
          </option>
          <option [ngValue]="false">Отключено
          </option>
        </select>
        <div
          *ngIf="editForm.get('isEnabled')!.invalid && (editForm.get('isEnabled')!.dirty || editForm.get('isEnabled')!.touched)">
          <small class="form-text text-danger"
                 *ngIf="editForm.get('isEnabled')?.errors?.required"
          >
                        Поле обязательное к заполнению.
          </small>
        </div>
      </div>

      <div class="card" style="padding: 0">
        <div class="card-header align-middle">
          <div class="float-left" style="padding-right: 10px">
            <h6><span>Список контуров</span></h6>
          </div>

          <div class="btn-group float-right rounded">
            <button [disabled]="editForm.invalid" type="button"
                    class="btn btn-sm shadow-sm btn-secondary float-right jh-create-entity create-ticket"
                    (click)="addKontur()">
              <span>Добавить контур</span>
            </button>
          </div>
        </div>
        <div class="card-body p-0">
          <table class="table table-hover" style="padding: 0; margin: 0">
            <thead>
            <tr>
              <th class="border-top-0 border-right-1 text-center" scope="col">Наименование контура</th>
              <th class="border-top-0 border-right-1  text-center" scope="col">App ID из app_statistic</th>
              <th class="border-top-0 text-center"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let kontur of currentKonturs; let idex = index;">
              <td class="border border-left-0  align-middle text-center">
                {{kontur.name}}
              </td>
              <td class="border align-middle text-center">
                {{kontur.konturNumber}}
              </td>

              <td class="border border-right-0 align-middle text-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-secondary btn-sm shadow rounded"
                          style="border-right-color: white"
                          (click)="edit(idex, kontur)">Редактировать
                  </button>
                  <button type="button" class="btn  btn-danger btn-sm shadow rounded" style="border-left-color: white"
                          (click)="deleteKontur(idex)">Удалить
                  </button>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

      </div>

    </div>

    <div class="btn-group float-right shadow rounded">

      <button style="border-right-color: white" type="button" id="cancel-save"
              class="btn  btn-sm shadow btn-secondary" (click)="clear()">
        &nbsp;<span>Отмена</span>
      </button>
      <button style="border-left-color: white" type="submit" id="save-entity"
              [disabled]="editForm.invalid || isSaving || !currentKonturs || currentKonturs.length == 0"
              class="btn   btn-sm shadow btn-primary">
        <span>Сохранить</span>
      </button>
    </div>
  </form>
  <app-error *ngIf="errorMessage" [errorMessage]="errorMessage"
             (closeAlert)="closeError()"></app-error>

</div>


