<div class="justify-content-center">
  <div class="row">
    <div class="col-12" style="padding: 10px">
      <div class="card shadow mb-5 bg-white rounded">
        <div class="card-header align-middle ">
          <div class="float-left" style="padding-right: 10px">
            <h3><span>Приложения</span></h3>
          </div>
          <div class="btn-group float-left rounded">
            <button class="btn  btn-sm float-right btn-primary shadow rounded" style="border-right-color: white"
                    (click)="showFilter()">
              Отобразить фильтр
            </button>
            <button type="button" class="btn  btn-sm float-right btn-danger shadow" style="border-left-color: white"
                    (click)="deleteFilters()">
              Очистить фильтры
            </button>
          </div>
          <div class="btn-group float-right rounded">
            <button type="button"
                    class="btn btn-sm shadow btn-primary float-right jh-create-entity create-ticket"
                    (click)="addNewApp()">
              <span>Добавить приложение</span>
            </button>
          </div>
        </div>
        <div class="card-body shadow" style="padding: 0">
          <table class="table table-hover">
            <thead>
            <tr>
              <th scope="col" class="text-center">ID</th>
              <th scope="col" class="text-center">Наименование</th>
              <th scope="col" class="text-center">Тип</th>
              <th scope="col" class="text-center">ID из appStatistic</th>
              <th scope="col" class="text-center">Ip Адрес БД</th>
              <th scope="col" class="text-center">Наименование БД</th>
              <th scope="col" class="text-center">Вкл/Откл</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let app of apps">
              <th class="border border-top" scope="row">{{app.id}}</th>
              <td class="border border-top">{{app.name}}</td>
              <td class="border border-top"><span class="shadow {{app.appType|appType}}">
                {{app.appType|appTypeName}}</span></td>
              <td class="border border-top">
                {{app.konturs| konturs}}
              </td>
              <td class="border border-top">{{app.ip}}</td>
              <td class="border border-top">{{app.dataBase}}</td>
              <td class="border ">
                <span class="shadow {{getString(app.enabled)|boolean}}">{{getString(app.enabled)|vklOtkl}}</span></td>
              <td class="border border-top text-center">
                <div class="btn-group">
                     <button type="button" style="border-left-color: white"
                          (click)="edit(app)"
                          class="btn btn-primary btn-sm rounded shadow">
                    <span class="d-none d-md-inline">Редактировать</span>
                  </button>

                  <button type="button" style="border-left-color: white" (click)="delete(app)"
                          class="btn btn-danger btn-sm rounded shadow">
                    <span class="d-none d-md-inline">Удалить</span>
                  </button>
                </div>
            </tr>
            </tbody>
          </table>
          <div class="row justify-content-center">
            <span>{{(page - 1) * itemsPerPage + 1 + ' - ' + itemsPerPage * page}}</span>
          </div>
          <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
                            [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
          </div>
        </div>
        <div>
        </div>
      </div>
    </div>
  </div>
</div>


