<div class="modal-header">

  <h2 *ngIf="!editForm.get('id')!.value" id="jhi-app-heading"
  >Добавить Skill-группу</h2>
  <h2 *ngIf="editForm.get('id')!.value">Редактировать Skill-группу</h2>
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
          (click)="clear()">&times;
  </button>
</div>
<div class="modal-body">
  <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
    <div>

      <div class="form-group" [hidden]="!editForm.get('id')!.value">
        <label for="id">ID</label>
        <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly/>
      </div>

      <div class="form-group">
        <label class="form-control-label" for="field_name">Наименование Skill-группы</label>
        <input type="text" class="form-control" name="name" id="field_name"
               formControlName="name"/>
        <div
          *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
          <small class="form-text text-danger"
                 *ngIf="editForm.get('name')?.errors?.required"
          >Поле обязательное к заполнению.
          </small>
        </div>
      </div>

      <div class="form-group">
        <label class="form-control-label" for="field_value">Значение(для фильтра)</label>
        <input type="text" class="form-control" name="value" id="field_value"
               formControlName="value"/>
        <div
          *ngIf="editForm.get('value')!.invalid && (editForm.get('value')!.dirty || editForm.get('value')!.touched)">
          <small class="form-text text-danger"
                 *ngIf="editForm.get('value')?.errors?.required">
            Поле обязательное к заполнению.
          </small>
        </div>
      </div>


    </div>

    <div class="btn-group float-right shadow rounded">

      <button style="border-right-color: white" type="button" id="cancel-save"
              class="btn  btn-sm shadow btn-secondary" (click)="clear()">
        &nbsp;<span>Отмена</span>
      </button>
      <button style="border-left-color: white" type="submit" id="save-entity"
              [disabled]="editForm.invalid"
              class="btn   btn-sm shadow btn-primary">
        <span>Сохранить</span>
      </button>
    </div>
  </form>
  <!--  <app-error *ngIf="errorMessage" [errorMessage]="errorMessage"-->
  <!--             (closeAlert)="closeError()"></app-error>-->

</div>


