table {
  //table-layout: fixed; /* Фиксированная ширина ячеек */
  width: 100%; /* Ширина таблицы */
}
td {
  vertical-align: middle;
}
th {
  vertical-align: middle;
}
.divtable{
  overflow: scroll;
}
