<div class="modal-header">
  <h2 class="modal-title">Фильтры</h2>
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
          (click)="close()">&times;
  </button>
</div>
<div class="modal-body scroll-pane">
  <div class="form-group">
    <label class="form-control-label" for="field_status">Наименование</label>
    <input class="form-control shadow-sm bg-white rounded" id="field_status" name="status" [(ngModel)]="nameFilter">

  </div>
  <div class="form-group">
    <label class="form-control-label" for="field_dataBaseFilter">База</label>
    <input class="form-control shadow-sm bg-white rounded" id="field_dataBaseFilter" name="dataBaseFilter" [(ngModel)]="dataBaseFilter">

  </div>


</div>
<div class="modal-footer">
  <button class="btn btn-sm btn-primary shadow" (click)="filter()">Фильтровать</button>
</div>
