<div class="justify-content-center">
  <div class="row">
    <div class="col-12" style="padding: 10px">
      <div class="card shadow mb-5 bg-white rounded">
        <div class="card-header align-middle">
          <div class="float-left" style="padding-right: 10px">
            <h3><span>Skill-группы</span></h3>
          </div>
        </div>
        <div class="card-header align-middle">
          <div class="btn-group float-left rounded">
            <form name="filtrForm" class="form" role="form"
                  [formGroup]="filterForm">
              <div class="form-group form-group col-md-auto"
              >
                <div class="row">
                  <div class="col-auto">
                    <label class="form-control-label"
                           for="field_appId">Приложение</label>
                  </div>
                  <div class="col-auto">
                    <select class="form-control" id="field_appId" name="field_appId" (change)="changeApp()"
                            formControlName="appId">
                      <option *ngIf="!filterForm.get('appId').value" [ngValue]="null"
                              selected></option>
                      <option *ngIf="filterForm.get('appId').value" [ngValue]="null"></option>
                      <option [ngValue]="app.id"
                              *ngFor="let app of apps; trackBy: trackAppById">{{app.name}}</option>
                    </select>
                  </div>
                  <div class="col-auto">
                    <div
                      *ngIf="!filterForm.get('appId')!.value">
                      <small class="form-text text-danger">
                        Необходимо выбрать приложение
                      </small>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="btn-group float-right rounded">
            <button type="button" [disabled]="filterForm.invalid"
                    class="btn btn-sm shadow btn-primary float-right jh-create-entity create-ticket"
                    (click)="addNewSkill()">
              <span>Добавить Skill-группу</span>
            </button>
          </div>
        </div>
        <div class="card-body shadow" style="padding: 0">
          <div class="alert alert-warning" role="alert" *ngIf="!filterForm.invalid && (!skills || skills.length == 0)">
            У данного приложения отсутствуют Skill-группы
          </div>
          <div class="alert alert-primary" *ngIf="filterForm.invalid">
            Не выбрано ни одно приложение для отображения Skill-групп
          </div>
          <table class="table table-hover" *ngIf="skills && skills.length > 0">
            <thead>
            <tr>
              <th scope="col" class="text-center">Наименование</th>
              <th scope="col" class="text-center">Значение</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let skill of skills">
              <td class="border border-top text-center">{{skill.name}}</td>
              <td class="border border-top text-center">{{skill.value}}</td>
              <td class="border border-top text-center">
                <div class="btn-group">
                  <button type="button" style="border-right-color: white"
                          (click)="edit(skill)"
                          class="btn btn-primary btn-sm rounded shadow">
                    <span class="d-none d-md-inline">Редактировать</span>
                  </button>

                  <button type="button" style="border-left-color: white" (click)="delete(skill)"
                          class="btn btn-danger btn-sm rounded shadow">
                    <span class="d-none d-md-inline">Удалить</span>
                  </button>
                </div>
            </tr>
            </tbody>
          </table>
          <div class="row justify-content-center">
            <span>{{(page - 1) * itemsPerPage + 1 + ' - ' + itemsPerPage * page}}</span>
          </div>
          <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
                            [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
          </div>
        </div>
        <div>
        </div>
      </div>
    </div>
  </div>
</div>


