<div class="modal-header">

  <h2 *ngIf="!editForm.get('id')!.value" id="jhi-app-heading">
    Добавить контур</h2>
  <h2 *ngIf="editForm.get('id')!.value">Редактировать контур</h2>
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
          (click)="clear()">&times;
  </button>
</div>
<div class="modal-body">
  <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
    <div>

      <div class="form-group" [hidden]="!editForm.get('id')!.value">
        <label for="id">ID</label>
        <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly/>
      </div>

      <div class="form-group">
        <label class="form-control-label" for="field_name">Наименование контура</label>
        <input type="text" class="form-control" name="name" id="field_name"
               formControlName="name"/>
        <div
          *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
          <small class="form-text text-danger"
                 *ngIf="editForm.get('name')?.errors?.required">
            This field is required.
          </small>
        </div>
      </div>
      <div class="form-group">
        <label class="form-control-label" for="field_konturId">ID контура из app_statistic</label>
        <input type="number" class="form-control" name="field_konturId" id="field_konturId"
               formControlName="konturId"/>
        <div
          *ngIf="editForm.get('konturId')!.invalid && (editForm.get('konturId')!.dirty || editForm.get('konturId')!.touched)">
          <small class="form-text text-danger"
                 *ngIf="editForm.get('konturId')?.errors?.required" >
            This field is required.
          </small>
        </div>
      </div>

    </div>

    <div class="btn-group mb-2 mt-2 float-right shadow rounded">

      <button style="border-right-color: white" type="button" id="cancel-save"
              class="btn btn-sm btn-secondary btn-sm shadow-sm" (click)="clear()">
        &nbsp;<span>Отмена</span>
      </button>
      <button style="border-left-color: white" type="submit" id="save-entity"
              [disabled]="editForm.invalid" class="btn btn-sm shadow-sm btn-primary">
        <span>Сохранить</span>
      </button>
    </div>
  </form>
</div>
