table {
  table-layout: auto; /* Фиксированная ширина ячеек */
  width: 100%!important; /* Ширина таблицы */
}
////.audioColumn {
////  width: 200px;
////}
//td {
//  vertical-align: middle;
//}
//th {
//  vertical-align: middle;
//}
//.form-control {
//  width: 100%!important;
//}
//@media screen and (min-width: 320px) and (max-width: 650px) { table#table1 td{display:block;} }
.table th, .table td {
  padding: 4px;
  align-content: center;
  border-top: 1px solid #dee2e6;
}
.grey {
  background: darkgray;
font-weight: bold;
}
//div { width: 300px; } table { width: 100%; }
//.ddd {
//  width: max(220px)!important;
//}
