<div class="divtable" style="overflow: scroll; width: 100%">
  <table  style="width:100%;" class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col" style="border-left: black 1px!important;">Тематики</th>
      <th scope="col" class="align-middle text-center">0:00 <br/> 1:00</th>
      <th scope="col" class="align-middle text-center">1:00 <br/> 2:00</th>
      <th scope="col" class="align-middle text-center">2:00 <br/> 3:00</th>
      <th scope="col" class="align-middle text-center">3:00 <br/> 4:00</th>
      <th scope="col" class="align-middle text-center">4:00 <br/> 5:00</th>
      <th scope="col" class="align-middle text-center">5:00 <br/> 6:00</th>
      <th scope="col" class="align-middle text-center">6:00 <br/> 7:00</th>
      <th scope="col" class="align-middle text-center">7:00 <br/> 8:00</th>
      <th scope="col" class="align-middle text-center">8:00 <br/> 9:00</th>
      <th scope="col" class="align-middle text-center">9:00 <br/> 10:00</th>
      <th scope="col" class="align-middle text-center">10:00 <br/> 11:00</th>
      <th scope="col" class="align-middle text-center">11:00 <br/> 12:00</th>
      <th scope="col" class="align-middle text-center">12:00 <br/> 13:00</th>
      <th scope="col" class="align-middle text-center">13:00 <br/> 14:00</th>
      <th scope="col" class="align-middle text-center">14:00 <br/> 15:00</th>
      <th scope="col" class="align-middle text-center">15:00 <br/> 16:00</th>
      <th scope="col" class="align-middle text-center">16:00 <br/> 17:00</th>
      <th scope="col" class="align-middle text-center">17:00 <br/> 18:00</th>
      <th scope="col" class="align-middle text-center">18:00 <br/> 19:00</th>
      <th scope="col" class="align-middle text-center">19:00 <br/> 20:00</th>
      <th scope="col" class="align-middle text-center">20:00 <br/> 21:00</th>
      <th scope="col" class="align-middle text-center">21:00 <br/> 22:00</th>
      <th scope="col" class="align-middle text-center">22:00 <br/> 23:00</th>
      <th scope="col" class="align-middle text-center">23:00 <br/> 0:00</th>
      <th scope="col" class="align-middle text-center">Всего:</th>
    </tr>
    </thead>
    <tbody>
    <tr  style="" class="{{isBlack(reportRow.isBlack)}}" *ngFor="let reportRow of reportList; let idx = index;">
      <td style="border-left: black" class="align-middle border-left">{{reportRow.themeName}}</td>
      <td  class="align-middle text-center">{{reportRow.hourValue[0]}}</td>
     <td  class="align-middle text-center">{{reportRow.hourValue[1]}}</td>
     <td  class="align-middle text-center">{{reportRow.hourValue[2]}}</td>
     <td  class="align-middle text-center">{{reportRow.hourValue[3]}}</td>
     <td  class="align-middle text-center">{{reportRow.hourValue[4]}}</td>
     <td  class="align-middle text-center">{{reportRow.hourValue[5]}}</td>
     <td  class="align-middle text-center">{{reportRow.hourValue[6]}}</td>
     <td  class="align-middle text-center">{{reportRow.hourValue[7]}}</td>
     <td  class="align-middle text-center">{{reportRow.hourValue[8]}}</td>
     <td  class="align-middle text-center">{{reportRow.hourValue[9]}}</td>
     <td  class="align-middle text-center">{{reportRow.hourValue[10]}}</td>
     <td  class="align-middle text-center">{{reportRow.hourValue[11]}}</td>
     <td  class="align-middle text-center">{{reportRow.hourValue[12]}}</td>
     <td  class="align-middle text-center">{{reportRow.hourValue[13]}}</td>
     <td  class="align-middle text-center">{{reportRow.hourValue[14]}}</td>
     <td  class="align-middle text-center">{{reportRow.hourValue[15]}}</td>
     <td  class="align-middle text-center">{{reportRow.hourValue[16]}}</td>
     <td  class="align-middle text-center">{{reportRow.hourValue[17]}}</td>
     <td  class="align-middle text-center">{{reportRow.hourValue[18]}}</td>
     <td  class="align-middle text-center">{{reportRow.hourValue[19]}}</td>
     <td  class="align-middle text-center">{{reportRow.hourValue[20]}}</td>
     <td  class="align-middle text-center">{{reportRow.hourValue[21]}}</td>
     <td  class="align-middle text-center">{{reportRow.hourValue[22]}}</td>
     <td  class="align-middle text-center">{{reportRow.hourValue[23]}}</td>
      <td style="border-right: black" class="align-middle text-center grey">{{reportRow.hourValue[24]}}</td>
    </tr>
    </tbody>
  </table>
</div>
