/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
.logo-img {
  height: 30px;
  width: 100px;
  display: inline-block;
  vertical-align: middle;
  background: url('svg-editor-image.svg') no-repeat center center;
  background-size: contain;
}
*, *::before, *::after {
  outline: none !important;
}

@import "preloader";

/*Loading spinner*/

